<div class="container">
  <div class="row mt-3">
    <h3>Register</h3>
  </div>
  <div class="row mt-3">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="form-group">
        <label for="firstName">First name</label>
        <input
          type="text"
          name="firstName"
          id="firstName"
          class="form-control"
          ngModel
          required
          #nameInput="ngModel"
        />
        <small
          class="form-text invalid-form-text"
          *ngIf="nameInput.touched && nameInput.errors?.['required']"
        >
          Enter your first name
        </small>
      </div>
      <div class="form-group">
        <label for="secondName">Second name</label>
        <input
          type="text"
          name="secondName"
          id="secondName"
          class="form-control"
          ngModel
          required
          #secondNameInput="ngModel"
        />
        <small
          class="form-text invalid-form-text"
          *ngIf="secondNameInput.touched && secondNameInput.errors?.['required']"
        >
          Enter your second name
        </small>
      </div>
      <div class="form-group">
        <label for="pName">Patronymic name</label>
        <input
          type="text"
          name="patronymicName"
          id="pName"
          class="form-control"
          ngModel
          required
          #pNameInput="ngModel"
        />
        <small
          class="form-text invalid-form-text"
          *ngIf="pNameInput.touched && pNameInput.errors?.['required']"
        >
          Enter your patronymic name
        </small>
      </div>
      <div class="form-group">
        <label for="phone">Phone number</label>
        <input
          type="text"
          name="phone"
          id="phone"
          class="form-control"
          ngModel
          required
          appPhone
          minlength="13"
          #phoneInput="ngModel"
        />
        <small
          class="form-text invalid-form-text"
          *ngIf="phoneInput.touched && phoneInput.errors?.['required']"
        >
          Enter your phone number
        </small>
        <small
          class="form-text invalid-form-text"
          *ngIf="phoneInput.touched && phoneInput.errors?.['minlength']"
        >
          Your phone number should contain 13 numbers
        </small>
        <small
          class="form-text invalid-form-text"
          *ngIf="phoneInput.touched && phoneInput.errors?.['phoneNumber']"
        >
          Your phone number should be in this format: +996 XXX YYYYYY;
        </small>
      </div>
      <div class="form-group">
        <label for="job">Place of work</label>
        <input
          type="text"
          name="job"
          id="job"
          class="form-control"
          ngModel
          required
          #jobInput="ngModel"
        />
        <small
          class="form-text invalid-form-text"
          *ngIf="jobInput.touched && jobInput.errors?.['required']"
        >
          Enter your place of work
        </small>
      </div>
      <div class="form-group">
        <p>Select t-shirt gender</p>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="maleGender"
            value="male"
            name="gender"
            ngModel
            required
          />
          <label
            class="form-check-label"
            for="maleGender">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="femaleGender"
            value="female"
            name="gender"
            ngModel
            required
            #gender="ngModel"
          />
          <label
            class="form-check-label"
            for="femaleGender">Female</label>
        </div>
        <small
          class="form-text invalid-form-text"
          *ngIf="gender.touched && gender.errors?.['required']"
        >
          Enter your gender
        </small>
      </div>
      <div class="form-group">
        <p>Select t-shirt size</p>
        <select
          class="form-control"
          type="text"
          name="size"
          ngModel
          required
          #size="ngModel"
        >
          <option>S</option>
          <option>M</option>
          <option>L</option>
          <option>XL</option>
        </select>
        <small
          class="form-text invalid-form-text"
          *ngIf="size.touched && size.errors?.['required']"
        >
          Choose t-shirt size
        </small>
      </div>
      <div class="form-group">
        <label>Comments</label>
        <textarea
          class="form-control"
          name="comment"
          ngModel
          required
          maxlength="300"
          #text="ngModel"
        ></textarea>
        <small
          class="form-text invalid-form-text"
          *ngIf="text.touched && text.errors?.['required']"
        >
          Write a comment
        </small>
        <small
          class="form-text invalid-form-text"
          *ngIf="text.touched && text.errors?.['maxlength']"
        >
          Max length of the comment should be 300 letters
        </small>
      </div>
      <button
        class="btn btn-primary"
        type="submit"
        (click)="saveForm()"
        [disabled]="f.invalid"
      >
        Register</button>
    </form>
  </div>
</div>
